* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    padding: 70px 20px 30px 20px;
    margin: auto;
    border: 3px solid #000;
    border-top: 16px solid #000;
    border-radius: 12px;
    margin-top: 5%;
    background-color: #171717;
   /* border: 2px solid red;*/
}

.contenedor #pianoJS {
    width: 100%;
    height: 200px;
    font-family: monospace;
}
  
.key {
    width: 14.2857%;
    height: 200px;
    float: left;
    background: #EEEEEE;
    border: 1px solid #cfcdcd;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    border-radius: 1px;
    letter-spacing: 1px;
    font-size: 23px;
    color: #878686;
}
/*--------------------------------------------------------------------------------teclas--------------------------*/

.do:hover {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    color: #fff;
}

.re:hover {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
}

.mi:hover {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #fff;
}

.fa:hover {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: #fff;
}

.sol:hover {
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    color: #fff;
}

.la:hover {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    color: #fff;
}

.si:hover {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: #fff;
}
                                                  

/*-----------------------------------------------------------------------JAVASCRIPT-----------------------------------------*/
.pressed {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: white;
}